.white {
  background-color: #fff;
  color: #000;
}
.black {
  background-color: #000;
  color: #fff;
}
body {
  @apply bg-slate-800;
  text-shadow: rgba(0, 0, 0, 0.315);
}
.App {
  min-height: 100vh;
}
